@import '../../styles/colors.scss';

.sideBar {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.rigsTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebarButton {
  padding: 0px;
  border: none;
  color: $input-button;
}

.sidebarContainer {
  padding: 0px;
}

.sidebarBox {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $sidebar-gray;
}

.sidebarText {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  padding: 10px;
}

.boxImage {
  padding: 10px;
}

.rigList {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  padding: 0;
}

.rigListItem {
  margin: 0;
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  min-height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rigListItem:hover,
.selected {
  background-color: $sidebar-gray;
}
