$base-white: #ffffff;
$text-input-background: #f4f5f7;
$text-input-font: #526c7b;
$input-button-font: #ffffff;
$input-button: #2569be;
$input-start-icon: #a9b5bd;
$password-visible-icon: #95a3ab;
$hyperlink: #0069c4;
$divider: #e0e5e7;
$new-account-text: #526c7b;
$input-field-text: #00263d;
$sidebar-gray: #f0f2f5;
$shadow: #888888;
$buttonBlue: #031aaf;
$createRigButtonBlue: #2569be;
$disabled-button-background: #f4f5f7;
$disabled-button-font: #b9c4ca;
$red-asterisk: #ff444a;
$low-opacity-label: rgba(0, 38, 61, 0.6);
$modal-close: #516b7a;
$black: #000000;
$lightgrey: #d3d3d3;
$vital-blue: #009ac4;
$window-background: #f9f9f9;
