$base-white: #f9f9f9;
$text-input-background: #f4f5f7;
$text-input-font: #526c7b;
$input-button-font: #ffffff;
$input-button: #2569be;
$input-start-icon: #a9b5bd;
$password-visible-icon: #95a3ab;
$hyperlink: #0069c4;
$divider: #e0e5e7;
$new-account-text: #526c7b;
$input-field-text: #00263d;
$sidebar-gray: #f0f2f5;
