@import '../../styles/colors.scss';

.auth-container {
  display: grid;
  grid-template-columns: 253px 518px 253px;
  grid-template-rows: 302.5px 419px 302.5px;

  .auth-area {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    .nested-auth-container {
      display: grid;
      grid-template-columns: 193.5px 131px 193.5px;
      grid-template-rows: 89.5px 220px 109.5px;
      justify-items: center;

      .logo {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .form {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-bottom: 20px !important;

        .input-button.MuiButtonBase-root {
          border: none;
          outline: none;
          background-color: $input-button !important;
          width: 518px;
          height: 64px;
          border-radius: 8px;
          color: $input-button-font !important;
          font-weight: 600 !important;
          font-size: 20px !important;
          font-family: 'proxima-nova', sans-serif !important;
          text-transform: none !important;
          margin-top: 4px;
        }
      }

      .bottom-links {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;

        .forgot-password {
          color: $hyperlink;
          size: 14px;
          margin-top: 20px;
          text-align: center;
        }

        .divider {
          width: 518px;
          height: 1px;
          color: $divider;
        }

        .new-account-text {
          color: $new-account-text;
          size: 14px;
          margin-top: 20px;
          text-align: center;
        }

        .new-account-link {
          color: $hyperlink;
        }

        .login-link-text {
          color: $new-account-text;
          size: 14px;
          margin-top: 20px;
          text-align: center;
        }

        .login-link {
          color: $hyperlink;
        }
      }

      .new-account-link:hover,
      .input-button:hover,
      .hyperlink-hover:hover,
      .login-link {
        cursor: pointer;
      }
    }
  }
}
