@import '../../styles/colors.scss';

button {
    background-color: $base-white;
    border: 0px;
}

.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    font-size: 1.6em;
    margin-bottom: 15px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;

    button {
        border: 1px solid $black;
        border-radius: 3px;
    }

    .inactive {
        border: 1px solid $lightgrey !important;
    }

    .create {
        background-color: $buttonBlue;
        color: $base-white;
    }
}

.modal-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: .8em;

    span {
        color: red;
    }

    input {
        margin-bottom: 10px;
        padding: 3px;
    }
}
