.landing {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.right-panel {
  display: flex;
  width: 100%;
  border-right: solid 1px #e4e5e8;
}

.main-window {
  display: flex;
  width: 100%;
}
